@model Projeto.Models.ItemTema

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Ver</title>
    <link rel="stylesheet" href="~/conteudos/estilos/qualquer.css" />
</head>
<body id="VerItemTema">
    <h1>Visualizando item tematico</h1>
    <div>
        <h2> @Html.DisplayFor(model => model.nome) @Html.ActionLink("Alterar", "Editar", new { id = Model.ItemTemaId }, new { @class = "ActionBt Azul" })</h2>
        <p> @Html.DisplayFor(model => model.descricao)  </p>
        
    </div>
    <p>
      
        @Html.ActionLink("Voltar a listagem de itens", "Index", null, new { @class = "ActionBt Vermelho" })
    </p>
</body>
</html>
